<ion-content color= greem class="ion-align-items-center">
  <div class="welcome-image">
    <img src="assets/images/Nutre-Mon.png" alt="Nutre Mon Logo">
  </div>
  <div class="container">
    <form #form="ngForm" (ngSubmit)="login(form)" class="login-form">
      <div text-center>
        <h3>Bienvenido</h3>
      </div>
      <div padding>
        <ion-item>
          <ion-input name="email" type="email" placeholder="Ingresa tu correo electrónico" [(ngModel)]="email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input name="password" type="password" placeholder="Ingresa tu contraseña" [(ngModel)]="password" minlength="8" required></ion-input>
        </ion-item>
      </div>
      <div class="button-container" padding>
        <ion-button class="login-button" expand="full" type="submit">
          Iniciar Sesión
        </ion-button>
        <ion-button class="create-account-button"  expand="full" (click)="goToRegister()">
          Registrarse
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
